body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* camp squares */
.campSquare {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 15%;
    margin: 1.66%;
    overflow: hidden;
    border-radius: 25px;
    background-color: blue;
}

.musteringSquare {
    background-color: red;
}

.campSquareContent {
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
    text-align: center;
    color: aliceblue;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}